.navbar-links{
    color: #ffffffcc !important;
    font-size: 18px;
}

.navbar-links:hover{
    text-shadow:  #04040481 2px 2px 4px;
    border-bottom: 1px solid #ffbe58;
    background-color: #ffffff1a !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar-links:focus{
    text-shadow:  #04040481 2px 2px 4px;
    border-bottom: 1px solid #ffbe58;
    background-color: #ffffff1a !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}